@page "/"
@using StudentComponents
@using SortingHatComponents
@using HogwartsEnrollmentComponents

<div id="box1">
    <h1>Welcome to Hogwarts!</h1>
    <AddStudent />
</div>

<div id="box2">
    <h2>Enrolled Students</h2>
    <HouseAssignments />
</div>

<div id="box3">
    <h2>Sorting Hat</h2>
    <SortStudentsToHouse />
</div>
